* {
    box-sizing: border-box;
    padding: 0;    
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main, header, section, aside, footer {
    margin: 0;
    padding: 20px;
    border: 1px solid #0111f8;
    color: #ffffff;
}

main {
    background: #000000;
}

header {
    display:flex;
    background: #fd8904;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
}

header nav {
    margin:7px 0
}
header a {
    text-decoration: none;
    color: var(--primary-color);
    
  }
header h1 {
font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
  
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.content-container {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    
}

article {
    display: flex;
}
.hero {
    background: #d22b1f;
}

.content {
    background: #129a22;
    
}

aside {
    border: 1px solid #000000;
    background: #673ab7;
    position: sticky;
}


.about{
    width: 100%;
    padding: 50px;
    margin: 10 0 10 0;
    border:15px #0111f8;
    background-color: #0111f8;
    align-content: center;
    border: 1px solid #fd8904;
    color: #ffffff;
}

.side {
    box-sizing: border-box;
}

.hero-panels {
box-sizing: border-box;
width: 200px;
height: auto;
}

.surfpic {
    max-width: auto;
    height: 100%;
}

.panels {

padding: 10px;
margin: left 2%;

background-color: #0111f8;
border: 1px solid #fd8904;
text-align: center;
height: 100px;
flex-grow: 1;
}

.project-pics {
   width: auto;
    height: 100%;
    

}
footer {
    display: flex;
    
}